.mainLabel {
    font-weight: bold;
}

.treatmentBlock {
    list-style: none;
}
.treatmentItemContainer {
    display: inline-block;
    width: 200px;
    padding: 10px 0 10px 0;
}

.treatmentStatusContainer {
    display: inline-block;
    width: 200px;

}

.column0Header {
    font-weight: bold;
    display: inline-block;
    width: 150px;

}
.column1Header {
    font-weight: bold;
    display: inline-block;
    width: 200px;

}

.column2Header {
    font-weight: bold;
    display: inline-block;
    width: 200px;

}