.treatmentPageWrapper {
    display:block;
    padding: 10px;
    min-width: 420px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.listContainer {
    padding-left:10px;
}

.treatment {
    min-width: 400px;
    max-width: 1000 px;
}


.mainLabel {
    font-weight: bold;
}

.treatmentBlock {
    list-style: none;
}
.treatmentItemContainer {
    display: inline-block;
    width: 200px;
    padding: 10px 0 10px 0;
}

.treatmentStatusContainer {
    display: inline-block;
    width: 200px;

}

.column0Header {
    font-weight: bold;
    display: inline-block;
    width: 150px;

}
.column1Header {
    font-weight: bold;
    display: inline-block;
    width: 200px;

}

.column2Header {
    font-weight: bold;
    display: inline-block;
    width: 200px;

}